<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseUrl</key>
	<string>http://docviewqa.tkinteractive.com/hackettstown/QA/docviewservice/IpadServiceData.svc/</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DVS-QA</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon_retina.png</string>
		<string>icon_iphone.png</string>
		<string>iconx57.png</string>
		<string>iconx114.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_retina.png</string>
				<string>icon_iphone.png</string>
				<string>iconx57.png</string>
				<string>iconx114.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.docviewsolutions.hacketstown.development</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DVS-Stage</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.04.12.13</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.04.12.13</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>backendIpadApplicationId</key>
	<string>FgshrR5xqE6vxJXd9P9WPTYyOd8BsguUdl4R1ve3</string>
	<key>backendIpadClientKey</key>
	<string>Xlzeu0DaG9R9LWufUqeRrqp8YUsKs29pDz79ATE6</string>
	<key>backendIphoneApplicationId</key>
	<string>F6CTXbAODX1r6xVxXa4JbxVQX6Dk1tuPL4oJNpOW</string>
	<key>backendIphoneClientKey</key>
	<string>MzL2p0z7a4kKnl1jMGxuejlKYeKWhYFvFaf27dZV</string>
</dict>
</plist>
